* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.pop, .actividades_talleres .card .back, .actividades_talleres .card .front, .clases .clase_teorica, .clases .clase_practica {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-padding {
  padding-left: 40px;
  padding-right: 40px;
}

nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
nav .logo {
  width: 60px;
  aspect-ratio: 1/1;
  background-color: white;
  margin-left: 20px;
}
nav .menu ul {
  margin: 0;
}
nav .menu ul li {
  text-align: center;
  color: white;
  list-style: none;
  display: inline;
  cursor: pointer;
}
nav .menu ul a {
  margin: 20px;
  text-decoration: none;
}
nav .menu ul a:hover {
  -webkit-animation: blur;
          animation: blur;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
nav.change {
  -webkit-animation: change;
          animation: change;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes change {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #000000e3;
  }
}

@keyframes change {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #000000e3;
  }
}
@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}
footer {
  width: 100%;
  height: 100px;
  background-color: #333333;
}

.header_campamento {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 80vh;
  padding-bottom: 30px;
  background-position: center;
  background-size: cover;
  background-color: #F2A413;
}
.header_campamento h1 {
  position: absolute;
  bottom: 30px;
  color: white;
  font-weight: 700;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section .text {
  padding-right: 20px;
}
section .carrusel {
  padding: 20px;
  width: 100%;
}
section .carrusel .carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 8px;
}
section .carrusel .carousel-inner {
  background-color: #590209a6;
  border-radius: 14px;
}
section .carrusel .carousel-inner img {
  opacity: 0;
}

.line {
  margin: 40px auto;
  font-size: 30px;
  text-align: center;
}

.clases {
  padding: 0 130px;
}
.clases .clase_practica {
  position: relative;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  margin-bottom: 40px;
}
.clases .clase_practica .img {
  width: 100%;
  margin-right: 30px;
  aspect-ratio: 3/2;
  background-color: #590209a6;
}
.clases .clase_practica .description {
  width: 80%;
}
.clases .clase_practica.aparece-izq {
  -webkit-animation: aparece-izq;
          animation: aparece-izq;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.clases .clase_teorica {
  position: relative;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  margin-bottom: 40px;
}
.clases .clase_teorica .img {
  width: 100%;
  margin-left: 30px;
  aspect-ratio: 3/2;
  background-color: #590209a6;
}
.clases .clase_teorica .description {
  width: 80%;
}
.clases .clase_teorica.aparece-dcha {
  -webkit-animation: aparece-dcha;
          animation: aparece-dcha;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes aparece-izq {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}

@keyframes aparece-izq {
  0% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
@-webkit-keyframes aparece-dcha {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
@keyframes aparece-dcha {
  0% {
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
.header_talleres {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  height: 100vh;
  padding-bottom: 115px;
  padding-top: 100px;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.header_talleres .img:first-child {
  width: 33.3%;
  background-color: #242424;
}
.header_talleres .img:nth-child(2) {
  width: 33.3%;
  background-color: #1d1d1d;
}
.header_talleres .img:nth-child(3) {
  width: 33.3%;
  background-color: #242424;
}
.header_talleres h1 {
  position: absolute;
  bottom: 30px;
  color: white;
  font-weight: 700;
}

.actividades_talleres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}
.actividades_talleres .card {
  border: none;
  position: relative;
  width: 30%;
  aspect-ratio: 2/3;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.actividades_talleres .card .front {
  position: absolute;
  color: white;
  background-color: #590209a6;
  width: 100%;
  height: 100%;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.actividades_talleres .card .back {
  position: absolute;
  color: white;
  background-color: #f2a413b7;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.actividades_talleres .card:hover .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.actividades_talleres .card:hover .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.pop {
  position: fixed;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100vh;
}
.pop .fondo {
  width: 100%;
  height: 100vh;
  background-color: #000000b0;
}
.pop .carnet {
  position: absolute;
  width: 60%;
  aspect-ratio: 3/2;
  padding: 60px;
  background-color: #e6e6e6;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pop .carnet .cara-redes {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pop .carnet .cara-redes .cara {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 14px;
  background-color: #590209a6;
}
.pop .carnet .cara-redes .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pop .carnet .cara-redes .redes img {
  width: 12%;
  margin: 15px 25px 15px 0;
}
.pop .carnet .caracteristicas {
  width: 60%;
}
.pop.open {
  z-index: 100;
  opacity: 1;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 700px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.nosotros .persona {
  width: 30%;
  aspect-ratio: 1/1;
  text-align: center;
  cursor: pointer;
}
.nosotros .persona .foto {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 14px;
  background-color: #590209a6;
}
.nosotros .persona .nombre {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nosotros .persona.especial {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.formulario form {
  overflow: hidden;
  margin: 30px auto;
  width: 46%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 14px;
  padding: 30px;
  position: relative;
}
.formulario form label {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  color: #727272;
  font-size: 13px;
}
.formulario form input, .formulario form textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.formulario form input:focus, .formulario form textarea:focus {
  outline: 0;
}
.formulario form .recta {
  margin: 20px 0;
  width: 100%;
  height: 2px;
  background-color: #dadada;
}
.formulario form .recta:after {
  content: "";
  display: inherit;
  width: 0%;
  height: 2px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#590209), to(#F2A413));
  background-image: linear-gradient(to bottom left, #590209, #F2A413);
  -webkit-transition: all;
  transition: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.formulario form input:focus + .recta::after {
  width: 100%;
}
.formulario form textarea:focus + .recta::after {
  width: 100%;
}
.formulario form button {
  margin-top: 20px;
  border: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: -webkit-gradient(linear, right top, left top, from(#F2A413), to(#590209));
  background-image: linear-gradient(to left, #F2A413, #590209);
  background-size: 200%;
  background-position: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
.formulario form button:hover {
  background-position: left;
}
.formulario form button i {
  margin: 0 10px;
}
.formulario .mapa {
  width: 46%;
  padding: 20px;
  background-color: #590209a6;
}