@import "variables.scss";
@import "mixins.scss";

*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

// extend
%flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
}
// @extend %flex-center-center;

.main-padding{
    padding-left: 40px;
    padding-right: 40px;
}


// carga
.carga{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 200;
    opacity: 1;
    &.hecha{
        animation: carga;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
        animation-duration: 0.1s;
    }
}
@keyframes carga{
    0%{
        z-index: 200;
        opacity: 1;
    }
    99%{
        z-index: 200;
        opacity: 1;
    }
    100%{
        z-index: -10;
        opacity: 0;
    }
}



// navegador
nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    .logo{
        width: 60px;
        aspect-ratio: 1/1;
        background-color: white;
        margin-left: 20px;
    }
    .menu{
        ul{
            margin: 0;
            li{
                text-align: center;
                color: white;
                list-style: none;
                display: inline;
                cursor: pointer;
                &:hover{
                    animation: blur;
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
    }
    .menu-mobile{
        display: none;
        position: absolute;
        top: 0;
        left: -100%;
        width: 80vw;
        height: 100vh;
        background-color: #000000;
        z-index: 100;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        ul{
            margin: 0;
            li{
                text-align: left;
                color: white;
                list-style: none;
                display: block;
                cursor: pointer;
                &:hover{
                    animation: blur;
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
        &.open{
            position: fixed;
            left: 0;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    
    &.change{
        animation: change;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    .hamburguer{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        cursor: pointer;
        .line{
            width: 30px;
            height: 3px;
            border-radius: 10px;
            background-color: white;
            &.uno{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
                transform-origin: 0 center;
            }
            &.dos{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
            }
            &.tres{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
                transform-origin: 0 center;
            }
        }
        &.cruz{
            .line{
                &.uno{
                    width: 37px;
                    transform: rotate(45deg);
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                }
                &.dos{
                    opacity: 0;
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                }
                &.tres{
                    width: 37px;
                    transform: rotate(-45deg);
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                
                }  
            }
        }
    }
}

@keyframes change{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: #000000e3;
        backdrop-filter: blur(60px);
    }
}
@keyframes blur{
    0%{
        filter: blur(0px);
    }
    50%{
        filter: blur(2px);
    }
    100%{
        filter: blur(0px);
    }
}




// footer
footer{
    width: 100%;
    height: 100px;
    background-color: rgb(51, 51, 51);
}



// scroll
.scroll{
    position: fixed;
    bottom: 0;
    z-index: 200;
    width: 0;
    height: 10px;
    background-color: greenyellow;
}


// campamento

// cabecera
.header_campamento{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 80vh;
    padding-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-color: $accent-color;
    h1{
        position: absolute;
        bottom: 30px;
        color: white;
        font-weight: 700;
    }
}


// seccion
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    .text{
        padding-right: 20px
    }
    .carrusel{
        padding: 20px;
        width: 100%;
        .carousel-indicators [data-bs-target]{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 8px;
            margin-left: 8px;
        }
        .carousel-inner{
            background-color: $secondary-color;
            border-radius: 14px;
            aspect-ratio: 3/2;
            img{
                opacity: 0;
            }
        }
    }
}

.contenedor-line{
    overflow: hidden;
    width: 100%;
    .line{
        white-space: nowrap;
        margin: 40px auto;
        font-size: 40px;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        animation: lateral;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }
}

@keyframes lateral{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}



.clases{
    padding: 0 130px;
    .clase_practica{
        position: relative;
        transform: translateX(-100vw);
        margin-bottom: 60px;
        @extend %flex-center-center;
        .img{
            width: 100%;
            margin-right: 30px;
            aspect-ratio: 3/2;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .description{
            width: 80%
        }
        &.aparece-izq{
            animation: aparece-izq;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
    }
    .clase_teorica{
        position: relative;
        transform: translateX(-100vw);
        @extend %flex-center-center;
        margin-bottom: 60px;
        .img{
            width: 100%;
            margin-left: 30px;
            aspect-ratio: 3/2;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .description{
            width: 80%
        }
        &.aparece-dcha{
            animation: aparece-dcha;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            animation-delay: 0.5s;
        }
    }
}

@keyframes aparece-izq{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
@keyframes aparece-dcha{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}






// talleres

// cabecera
.header_talleres{
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    padding-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-color: black;
    h1{
        position: absolute;
        bottom: 30px;
        color: white;
        font-weight: 700;
    }
    
    h1{
        position: absolute;
        bottom: 30px;
        color: white;
        font-weight: 700;
    }
}

// actividades
.actividades_talleres{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    margin-bottom: 80px;
    .card{
        border: none;
        position: relative;
        width: 30%;
        aspect-ratio: 2/3;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease;
        perspective: 1000px;
        .front{
            position: absolute;
            color: white;
            @extend %flex-center-center;
            background-color: $secondary-color;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
        .back{
            position: absolute;
            color: white;
            @extend %flex-center-center;
            background-color: #f2a413b7;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
        }
        &:hover .front{
            transform: rotateY(180deg);
            backface-visibility:hidden ;
        }
        &:hover .back{
            transform: rotateY(0deg);
        }
    }
}





// sobre nosotros

// cabecera
.header_nosotros{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    padding-bottom: 30px;
    background-position: center;
    background-size: cover;
    background-color: $accent-color;
    h1{
        position: absolute;
        bottom: 30px;
        color: white;
        font-weight: 700;
    }
}

// personas
.pop{
    position: fixed;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100vh;
    @extend %flex-center-center;
    .fondo{
        width: 100%;
        height: 100vh;
        background-color: #000000b0;
    }
    .carnet{
        position: absolute;
        width: 60%;
        aspect-ratio: 3/2;
        padding: 60px;
        background-color: #e6e6e6;
        border-radius: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cara-redes{
            width: 30%;
            display: flex;
            flex-direction: column;
            .cara{
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 14px;
                background-color: $secondary-color;
            }
            .redes{
                display: flex;
                align-items: center;
                justify-content: center;    
                img{
                    width: 12%;
                    margin: 15px 25px;
                    cursor: pointer;
                }
            }
        }
        .caracteristicas{
            width: 60%;
        }
    }
    &.open{
        z-index: 100;
        opacity: 1;
    }
}

.nosotros{
    display: flex;
    justify-content: space-around;
    height: 60vh;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    &.vertical{
        
        .uno{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0s;
            animation-fill-mode: both;
        }
        .dos{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0.2s;
            animation-fill-mode: both;
        }
        .tres{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0.4s;
            animation-fill-mode: both;
        }
    }
    .persona{
        width: 30%;
        aspect-ratio: 1/1;
        text-align: center;
        cursor: pointer; 
        .foto{
            width: 80%;
            margin: 0 auto;
            aspect-ratio: 1/1;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .nombre{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &.especial{
            align-self: flex-end;
        }
        
    }
}

@keyframes vertical{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}



// contacto
.formulario{
    display: flex;
    align-items: center;
    form{
        overflow: hidden;
        margin: 30px auto;
        width: 46%;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 14px;
        padding: 30px;
        position: relative;
        label{
            width: 100%;
            display: inline-block;
            margin-bottom: 15px;
            color: #727272;
            font-size: 13px;
        }
        input, textarea{
            width: 100%;
            border: 0;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            &:focus {
                outline: 0;
            }
        }
        .recta{
            margin: 20px 0;
            width: 100%;
            height: 2px;
            background-color: #dadada;
            &:after{
                content: "";
                display: inherit;
                width: 0%;
                height: 2px;
                background-image: linear-gradient(to bottom left, $accent-color, $main-color);
                transition: all;
                transition-duration: 1s;
            }
        }
        input:focus+.recta::after{
            width: 100%;
        }
        textarea:focus+.recta::after{
            width: 100%;
        }
        button{
            margin-top: 20px;
            border: 0;
            color: white;
            display: flex;
            background-color: $secondary-color;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 25px;
            font-size: 18px;
            cursor: pointer;
            transition-property: all;
            transition-duration: 1s;
            &:hover{
                background-color: $main-color;
            }
            i{
                margin: 0 10px;
            }
        }
    }
    .mapa{
        width: 46%;
        padding: 20px;
        background-color: $secondary-color;
    }
}



// MEDIA QUERIES
@media screen and ( max-width: 768px ){
    nav{
        .menu{
            display: none;
        }
        .menu-mobile{
            display: block;
        }
        .hamburguer{
            display: flex;
        }
    }
}




