@import "variables.scss";
@import "mixins.scss";

*{
    box-sizing: border-box;
}
body{
    background-color: white;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

// extend
%flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
}
// @extend %flex-center-center;

.main-padding{
    padding-left: 60px;
    padding-right: 60px;
}

h3{
    margin-bottom: 40px;
}

// carga
.carga{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: $main-color;
    z-index: 200;
    @extend %flex-center-center;
    .loader{
        font-size: 20px;
        margin: 45% auto;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        animation: load4 1.3s infinite linear;
    }
}
    

@keyframes load4 {
    0%,
    100% {
      box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
    }
    12.5% {
      box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    25% {
      box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    37.5% {
      box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    50% {
      box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    62.5% {
      box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
    }
    75% {
      box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
    }
    87.5% {
      box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
    }
  }
 



// cookies
.cookies{
    @extend %flex-center-center;
    .mensaje{
        @extend %flex-center-center;
        flex-direction: column;
        position: fixed;
        bottom: -100%;
        z-index: 120;
        width: 30%;
        overflow: hidden;
        border-radius: 5px;
        padding: 30px;
        background-color: #ffffff4d;
        backdrop-filter: blur(10px);
        text-align: center;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;            
        .botones{
            @extend %flex-center-center;
            button{
                background-color: black;
                color: white;
                border: none;
                padding: 8px;
                margin-right: 12px;
            }
        }
        &.appear{
            bottom: 70px;
            transition-property: all;
            transition-duration: 2s;
            transition-timing-function: ease-in-out;
        }
    }
}

@keyframes appear{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 70px;
    }
}



// navegador
nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    .logo{
        width: 60px;
        aspect-ratio: 1/1;
        background-color: white;
        margin-left: 20px;
    }
    .menu{
        ul{
            margin: 0;
            li{
                text-align: center;
                color: white;
                list-style: none;
                display: inline;
                cursor: pointer;
                &:hover{
                    animation: blur;
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
    }
    .menu-mobile{
        display: none;
        position: absolute;
        top: 0;
        left: -100%;
        width: 80vw;
        height: 100vh;
        background-color: #000000;
        z-index: 100;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
        ul{
            margin: 0;
            li{
                text-align: left;
                color: white;
                list-style: none;
                display: block;
                cursor: pointer;
                &:hover{
                    animation: blur;
                    animation-duration: 0.5s;
                    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
                }
            }
            a{
                margin: 20px;
                text-decoration: none;
            }
        }
        &.open{
            position: fixed;
            left: 0;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
        }
    }
    
    &.change{
        animation: change;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
    .hamburguer{
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        cursor: pointer;
        .line{
            width: 30px;
            height: 3px;
            border-radius: 10px;
            background-color: white;
            &.uno{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
                transform-origin: 0 center;
            }
            &.dos{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
            }
            &.tres{
                transition-duration: 1s;
                transition-property: all;
                transition-timing-function: ease;
                transform-origin: 0 center;
            }
        }
        &.cruz{
            .line{
                &.uno{
                    width: 37px;
                    transform: rotate(45deg);
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                }
                &.dos{
                    opacity: 0;
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                }
                &.tres{
                    width: 37px;
                    transform: rotate(-45deg);
                    transition-duration: 1s;
                    transition-property: all;
                    transition-timing-function: ease;
                    transform-origin: 0 center;
                
                }  
            }
        }
    }
}

@keyframes change{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: #000000d1;
        backdrop-filter: blur(60px);
    }
}
@keyframes blur{
    0%{
        filter: blur(0px);
    }
    50%{
        filter: blur(2px);
    }
    100%{
        filter: blur(0px);
    }
}




// footer
footer{
    width: 100%;
    background-color: rgb(51, 51, 51);
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    @extend %flex-center-center;
    flex-direction: column;
    .redes{
        display: flex;
        align-items: center;
        justify-content: center;  
        padding-bottom: 10px;  
        a{
            width: 4%;
            img{
                width: 60%;
            }
        }
    }
    .copy{
        color: aliceblue;
        font-variant: small-caps;
    }
}



// scroll
.scroll{
    position: fixed;
    top: 0;
    z-index: 200;
    width: 0;
    height: 10px;
    background-color: $main-color;
}



// cabecera
#header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 80vh;
    padding-bottom: 30px;
    background-position: 70% 70%;
    background-size: 140%;
    background-repeat: no-repeat;
    h1{
        position: absolute;
        bottom: 30px;
        color: white;
        font-weight: 700;
    }
}


// campamento
#header{
    &.header_campamento{
        // background-image: url("../img/pexels-pixabay-207896.jpg");
        background-color: $secondary-color;
    }    
}


// seccion
section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    .text{
        padding-right: 20px;
    }
    .carrusel{
        padding: 20px;
        width: 100%;
        .carousel-indicators [data-bs-target]{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 8px;
            margin-left: 8px;
        }
        .carousel-inner{
            // background-color: $secondary-color;
            border-radius: 14px;
            aspect-ratio: 3/2;
        }
    }
}

.contenedor-line{
    overflow: hidden;
    width: 100%;
    .line{
        white-space: nowrap;
        margin: 40px auto;
        font-size: 40px;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        animation: lateral;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        span{
            margin: 12px;
        }
    }
}

@keyframes lateral{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-170%);
    }
}



.clases{
    margin-top: 0 auto;
    .clase_teorica{
        position: relative;
        transform: translateX(-100vw);
        margin-bottom: 60px;
        @extend %flex-center-center;
        .img{
            width: 80%;
            overflow: hidden;
            margin-right: 30px;
            aspect-ratio: 3/2;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .description{
            width: 80%
        }
        &.aparece-izq{
            animation: aparece-izq;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
        }
    }
    .clase_practica{
        position: relative;
        transform: translateX(-100vw);
        @extend %flex-center-center;
        margin-bottom: 60px;
        .img{
            width: 80%;
            overflow: hidden;
            margin-left: 30px;
            aspect-ratio: 3/2;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .description{
            width: 80%
        }
        &.aparece-dcha{
            animation: aparece-dcha;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: ease-in-out;
            animation-delay: 0.5s;
        }
    }
}

@keyframes aparece-izq{
    0%{
        transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
@keyframes aparece-dcha{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}






// talleres

// cabecera
#header{
    &.header_talleres{
        background-color: black;
    }
}

// actividades
.actividades_talleres{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .card{
        border: none;
        position: relative;
        width: 30%;
        margin-top: 60px;
        margin-bottom: 40px;
        aspect-ratio: 2/3;
        cursor: pointer;
        transition-property: all;
        transition-duration: 1s;
        transition-timing-function: ease;
        perspective: 1000px;
        .front{
            position: relative;
            overflow: hidden;
            @extend %flex-center-center;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
            .oscuro{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #00000063;

            }
            h1{
                position: absolute;
                color: white;
                top: 30px;
            }
        }
        .back{
            position: absolute;
            overflow: hidden;
            padding: 30px;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            background-color: #f2a413;
            width: 100%;
            height: 100%;
            border-radius: 14px;
            transform: rotateY(-180deg);
            backface-visibility: hidden;
            transition-property: all;
            transition-duration: 1s;
            transition-timing-function: ease;
            p{
                text-align: center;
            }
        }
        &:hover .front{
            transform: rotateY(180deg);
            backface-visibility:hidden ;
        }
        &:hover .back{
            transform: rotateY(0deg);
        }
    }
}





// sobre nosotros

// cabecera
#header{
    &.header_nosotros{
        height: 100vh;
        background-color: #afdaff;
    }
}

// personas
.nosotros{
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    margin-bottom: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    &.vertical{
        
        .uno{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0s;
            animation-fill-mode: both;
        }
        .dos{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0.2s;
            animation-fill-mode: both;
        }
        .tres{
            animation: vertical;
            animation-duration: 1s;
            animation-timing-function: cubic-bezier(0.68, -0.18, 0.53, 1.32);
            animation-delay: 0.4s;
            animation-fill-mode: both;
        }
    }
    .persona{
        width: 26%;
        aspect-ratio: 1/1;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        .foto{
            width: 80%;
            overflow: hidden;
            margin: 0 auto;
            aspect-ratio: 1/1;
            border-radius: 14px;
            background-color: $secondary-color;
        }
        .nombre{
            padding-top: 20px;
            padding-bottom: 20px;
            h3{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }
}

@keyframes vertical{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}



// contacto
#header{
    &.header_contacto{
        background-color: $main-color;
    }
}

.formulario{
    display: flex;
    align-items: center;
    .exito{
        // display: none;
        width: 50%;
        height: 200px;
        padding: 100px;
        background-color: #ffffff;
        @extend %flex-center-center;
    }
    form{
        overflow: hidden;
        margin: 30px auto;
        width: 40%;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 14px;
        padding: 30px;
        position: relative;
        label{
            width: 100%;
            display: inline-block;
            margin-bottom: 15px;
            color: #727272;
            font-size: 13px;
        }
        input, textarea{
            width: 100%;
            border: 0;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            &:focus {
                outline: 0;
            }
        }
        .recta{
            margin: 20px 0;
            width: 100%;
            height: 2px;
            background-color: #dadada;
            &:after{
                content: "";
                display: inherit;
                width: 0%;
                height: 2px;
                background-image: linear-gradient(to bottom left, $accent-color, $main-color);
                transition: all;
                transition-duration: 1s;
            }
        }
        input:focus+.recta::after{
            width: 100%;
        }
        textarea:focus+.recta::after{
            width: 100%;
        }
        button{
            margin-top: 20px;
            border: 0;
            color: white;
            display: flex;
            background-color: $secondary-color;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border-radius: 25px;
            font-size: 18px;
            cursor: pointer;
            transition-property: all;
            transition-duration: 1s;
            &:hover{
                background-color: $main-color;
            }
            i{
                margin: 0 10px;
            }
        }
    }
    .mapa{
        width: 46%;
        padding: 20px;
        margin: 20px;
        background-color: $secondary-color;
        iframe{
            height: 450px;
        }
    }
}



// MEDIA QUERIES
// movil
@media screen and ( max-width: 767px ){
    .main-padding{
        padding-left: 30px;
        padding-right: 30px;
    }

    .cookies{
        .mensaje{
            width: 85%;  
            font-size: 12px;
            &.appear{
                bottom: 30px;
            }
        }
    }

    nav{
        .menu{
            display: none;
        }
        .menu-mobile{
            display: block;
        }
        .hamburguer{
            display: flex;
        }
    }

    footer{
        .redes{
            a{
                width: 6%;
                img{
                    width: 67%;
                }
            }
        }
    }

    h3{
        margin-bottom: 15px;
    }

    #header{
        height: 45vh;
    }

    
    section{
        display: block;
        .text{
            text-align: center;
        }
    }

    .contenedor-line{
        .line{
            font-size: 30px;
            margin: 20px auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .clases{
        .clase_teorica{
            @extend %flex-center-center;
            flex-direction: column;
            .img{
                margin: 0;
            }
            .description{
                text-align: center;
                h3{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        }
        .clase_practica{
            @extend %flex-center-center;
            flex-direction: column-reverse;
            .img{
                margin: 0;
            }
            .description{
                text-align: center;
                h3{
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }
        } 
    }


    .actividades_talleres{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0;
        .card{
            width: 64%;
            margin-bottom: 30px;
            margin-top: 30px;
            .front{
                h1{
                    font-size: 22px;
                }
            }
            .back{
                padding: 16px;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 3vw;
                }
            }
        }
    }

    .nosotros{
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        .persona{
            width: 75%;
            margin-top: 35px;
            &.dos{
                flex-direction: column-reverse;
            }
        }
    }



    .formulario{
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 30px;
        form{
            width: 95%;
            margin: 0;
            label{
                margin-bottom: 6px;
            }
        }
        .mapa{
            width: 95%;
            margin-top: 30px;
            iframe{
                height: 260px;
            }
        }
    }

}




// tablet
@media ( min-width: 768px) and ( max-width: 1023px ){

    .cookies{
        .mensaje{
            width: 75%;  
            &.appear{
                bottom: 35px;
            }
        }
    }

    section{
        display: block;
        .carrusel{
            min-width: 400px;
        }
        .text{
            text-align: center;
        }
    }

    .actividades_talleres{
        margin-top: 40px;
        margin-bottom: 40px;
        .card{
            width: 40%;
            margin: 12px;
            .back{
                padding: 24px;
                p{
                    font-size: 1.5vw;
                }
            }
        }
    }

    .nosotros{
        margin: 0;
        padding-top: 45px;
        padding-bottom: 45px;
        .persona{
            width: 35%;
        }
    }


    .formulario{
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 30px;
        form{
            width: 95%;
            margin: 0;
            label{
                margin-bottom: 6px;
            }
        }
        .mapa{
            width: 95%;
            margin-top: 30px;
            iframe{
                height: 260px;
            }
        }
    }

}

// laptop
@media ( min-width: 1024px) and ( max-width: 1439px ){

    .cookies{
        .mensaje{
            width: 60%;  
            &.appear{
                bottom: 40px;
            }
        }
    }

    section{
        .carrusel{
            min-width: 500px;
        }
    }
    .actividades_talleres{
        .card{
            .back{
                p{
                    font-size: 1.5vw;
                }
            }
        }
    }
    .nosotros{
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .formulario{
        form{
            margin: 50px auto;
            width: 50%;
        }
        .mapa{
            iframe{
                height: 350px;
            }
        }
    }
}

// laptop l
@media ( min-width: 1440px) and ( max-width: 2249px ){
    .main-padding{
        padding-left: 180px;
        padding-right: 180px;
    }

    .cookies{
        .mensaje{
            width: 55%;  
            &.appear{
                bottom: 35px;
            }
        }
    }

    section{
        .carrusel{
            width: 60%;
            min-width: 450px;
        }
    }


    .actividades_talleres{
        .card{
            .front{
                h1{
                    font-size: 2.6vw;
                }
            }
            .back{
                padding: 40px;
                h1{
                    font-size: 2.6vw;
                }
                p{
                    font-size: 1vw;
                }
            }
        }
    }

    .nosotros{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    
    .formulario{
        form{
            margin: 100px auto;
        }
        .mapa{
            iframe{
                height: 530px;
            }
        }
    }
}


// pantalla grande
@media ( min-width: 2250px) and ( max-width: 3000px ){
    p{
        font-size: 20px;
    }

    .cookies{
        .mensaje{
            width: 40%;  
            &.appear{
                bottom: 50px;
            }
        }
    }

    .main-padding{
        padding-left: 300px;
        padding-right: 300px;
    }
    section{
        .carrusel{
            width: 60%;
        }
    }
    .contenedor-line{
        .line{
            animation-duration: 100s;
        }
    }


    .actividades_talleres{
        .card{
            .front{
                h1{
                    font-size: 3vw;
                }
            }
            .back{
                padding: 80px;
                h1{
                    font-size: 3vw;
                }
                p{
                    font-size: 1vw;
                }
            }
        }
    }

    .formulario{
        form{
            margin: 100px auto;
        }
        .mapa{
            iframe{
                height: 530px;
            }
        }
    }
}



